<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tamagotchi minion</title>
  <link rel="stylesheet" href="/public/style.css">
</head>
<body>
<header>
  <span><%= get('pet_name')  %></span>
  <span><%= get('warning_txt')  %></span>
</header>
<main>
  <section>
    <ul>
      <li>Life: <strong><%= get('life') %></strong></li>
      <li>Age: <strong><%= get('age') %></strong></li>
      <li>Mood: <strong><%= get('mood') %>%</strong></li>
      <li>Hunger: <strong><%= get('hunger') %>%</strong></li>
      <li>Sleep: <strong><%= get('sleep') %>%</strong></li>
      <li>WC: <strong><%= get('wc') %>%</strong></li>
      <li>Study: <strong><%= get('study') %></strong></li>
    </ul>
  </section>

  <article>
    <div>
      <p>What game do you want to play?</p>
    </div>
    <div>
      <p>KAMPAI!</p>
    </div>
  </article>
  <aside>
    <p>&#x1F929;</p>
    <div>
      <%="&#x1F4A9;" * get('poo_poo').to_i %>
    </div>
  </aside>
</main>
<footer>
  <form action="/mini-game" method="get">
    <button type="submit" name="guess" value="guess">
      <span></span><span></span><span></span><span></span>Guess Number</button>
    <button type="submit" name="slot" value="slot">
      <span></span><span></span><span></span><span></span>Slot Machine</button>
    <button type="submit" name="roll" value="roll">
      <span></span><span></span><span></span><span></span>Roll the Dice</button>
    <button type="submit" name="exit" value="exit">
      <span></span><span></span><span></span><span></span>Exit</button>
  </form>
</footer>
</body>
</html>